.listTick li::before {
    content: ".......";
    color: transparent;
    background-image: url(../public/assets/images/listTick.svg);
    background-repeat: no-repeat;
    background-position: 0 3px;
    background-size: 1rem;
}

.semImage {
    height: 4rem;
}

@screen md {
    .listTick li {
        width: 130%;
    }
    .semImage {
        height: 6rem;
    }
}